{% extends "orders/base.html" %}

{% block title %}
    Pizza
{% endblock %}

{% block body %}
    <h1>Welcome to my PizzaRia</h1>
    <h4>Logged in as: {{user}}</h4>
    <div class="body">
        <div class="left">
            <div class="containermenu">
                <form id="order">
                    <h2>Pasta</h2>
                        {% for pasta in Pasta %}
                            <li id=pasta.name> {{pasta.name}}, {{pasta.price}} <button>Add</button></li>
                        {% endfor %}
                    <h2>Salad</h2>
                        {% for salad in Salad %}
                            <li> {{salad.name}}, {{salad.price}} <button>Add</button></li>
                        {% endfor %}
                </form>
            </div>
        </div>
        <div class="right">
            <div class="shoppingcart">
                <form id="buycart">
                    <h2>Your shopping cart</h2>
                        <ul id="cartitemlist">
                            {% for item in cartitemlist %}
                                <li>{{item}}</li>
                            {% endfor %}
                        </ul>
                </form>
                <button id="myBtn" class="buybutton">buy</button>
            </div>
        </div>
    <div><a href="{% url 'logout' %}">Logout</a></div>
    </div>
    <!-- Modal for confirmation -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
            <p>Please confirm your purchase</p>
            <ul id="itemoverviewconfirm">
                {% for item in itemoverviewconfirm %}
                    <li>{{item}}</li>
                {% endfor %}
            </ul>
          <form id="confirmorder"><button >confirm</button></form>
      </div>
    </div>






{% endblock %}
